:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

li {
    list-style: none;
}

/* .채널 전체(상단바, 사이드바 제외) */
.Channel {
    z-index: 100px;
    position: absolute;
    margin-top: 56px;
    margin-left: 240px;
    /* padding: 10px; */
    width: calc(100% - 240px);
    height: calc(100% - 56px);
}
/* 채널 타이틀 전체 */
.Channel .Channel-Title {
    padding: 10px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}
/* 좌측 프로필 버튼 */
.Channel .Channel-Title .Channel-Profile {
    margin-left: 80px;
}
/* 우측 구독버튼 */
.Channel .Channel-Title .Chennel-Subscribes {
    background-color: transparent;
    margin-right: 50px;
    border: none; /* 기본 버튼 테두리 제거 */
    padding: 0;
}

.btn {
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    padding: 0; /* 버튼 내 여백 제거 */
}
/* 커버 배너 이미지 */
.Channel .Channel-Cover {
    width: 100%;
}

.Channel .Channel-Cover img {
    width: 100%;
    
}
/* 툴바 전체 */
.Channel .Channel-Toolbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    padding: 0px 65px;
    justify-content: start;
}

.Channel .Channel-Toolbar ul {
    display: flex;
    flex-direction: row;
}

/* 툴바 버튼 */
.Channel-Button {
    display: inline-block;
    padding: 16px 32px 15px 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: transparent;
    border: none;
    color: #FFF;
    cursor: pointer;
}

.Channel-Button::hover {
    background-color: #fff; 
}

/* 채널의 동영상 부분 */

.Channel-Player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* 동영상 위아래 구분 */
.VideoContainerTop, .VideoContainerDown {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

/* 메인동영상 1개 */
.Video-Container-Main {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
}

/* 썸네일 동영상 정보 */
.Video-Details-Thumb {
    gap: 5px;
    align-items: center;
}

/* 메인, 썸네일 동영상 정보 */
.Video-Details-Main, .Video-Details-Thumb {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.video {
    border-radius: 5%;
}