:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* .채널 전체(상단바, 사이드바 제외) */
.Channel {
    display: flex;
    flex-direction: column;
    padding-top: 56px;

}
/* 채널 타이틀 전체 */
.Channel .Channel-Title {
    padding-right:80px;
    padding-left:80px;
    padding-top: 10px;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
}

/* 프로필 세부 사항 */
.channel-wrapper {
    display: flex;
}

.channel-info {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: flex-start; /* 왼쪽 정렬로 배치 */
    gap: 8px; /* 요소들 사이의 간격 조정 */
}
.channel-image {
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    gap: 10px;
    padding-right: 0px;
}
.channel-name {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}
.subscriber-count {
    color: #AAA;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
}
/* 우측 구독버튼 */
.Channel .Channel-Title .Chennel-Subscribes {
    background-color: transparent;
    margin-right: 10px;
    border: none; /* 기본 버튼 테두리 제거 */
    padding: 0;
}

.btn {
    background-color: transparent; /* 배경 색상 투명으로 설정 */
    border: none; /* 버튼 테두리 제거 */
    padding: 0; /* 버튼 내 여백 제거 */
}
/* 커버 배너 이미지 */
.Channel .Channel-Cover {
    width: 100%;
}

.Channel .Channel-Cover img {
    width: 100%;
}

/* 툴바 전체 */
.Channel .Channel-Toolbar {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 10px;
    width: 100%;
    background-color: transparent;
    display: flex;
    /* padding: 0px 65px; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    justify-content: center;
    border-bottom: 1px solid #AAA ;
}
.Channel .Channel-Toolbar::-webkit-scrollbar{
    display: none;
}
#rightArrow, #channelRightArrow{
    display: flex;
    position: absolute;
    right: 0px;
    padding-left: 10px;
    padding-right: 15px;
    background: linear-gradient(to left,rgb(0, 0, 0,1),rgb(0, 0, 0,1),rgba(0, 0, 0, 0));

  }
#leftArrow, #channelLeftArrow{
    transform: scaleX(-1);
    position: absolute;
    background: linear-gradient(to left,rgb(0, 0, 0,1),rgb(0, 0, 0,1),rgba(0, 0, 0, 0));
    padding-right: 15px;
    padding-left: 10px;
    display: flex;
}
  

.Channel .Channel-Toolbar ul {
    padding-left: 10px;
    display: flex;
    gap: 95px;
    flex-direction: row;
}
.toolbars-search{
    display: flex;
    gap: 40px
}

/* 툴바 버튼 */
.Channel-Button {
    background-color: transparent;
    border: none;
    color: #909090;
    cursor: pointer;
}

.Channel-Button:hover {
    color: #FFF; 
}

/* 채널의 동영상 부분 */

.video-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5,1fr);
    grid-auto-flow: column;
    gap: 10px;
    margin: 0;
    z-index: 3;
    margin: 0px 80px 0px 80px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    align-items: center;
}


/* 상단 동영상 */
.video-grid-top > .video-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    /* 비디오 제목, 채널, 조회수 및 업로드 날짜에 대한 스타일 */
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 0px  0px 30px 80px;
    border-bottom: 1px solid #909090;
}
.video-info > .video-detail {
    color: white;
    padding-top: 10px;
}

.video-grid-top > .video-container > .video-info-container {
    margin-left: 10px;
    display: flex;
    flex:1;
    cursor: pointer;
}
.video-grid-top > .video-container > .video-info-container > .video-info{
    display: flex;
}



/* 영상 컨테이너 설정 */
.video-container {
    display: flex;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    /* 비디오 제목, 채널, 조회수 및 업로드 날짜에 대한 스타일 */
    flex-direction: column;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.video-grid .video-container .thumbnail,
.video-grid .video-container video {
    width: 210px;
    height: 118px;
}
.video-info-container{
    margin-top: 10px;
    display: flex;
    cursor: pointer;
}
.video-info {
    padding-left: 10px;
    overflow-x: hidden;
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.view-date{
    display: flex;
    gap: 5px;
}
/* 비디오 제목 설정 */
.video-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
    word-break: break-all; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 채널 및 조회수에 대한 스타일 */
.video-channel,
.video-views,
.upload-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 4px;
}


.video-container video,
.thumbnail {
    width: 100%;
    max-width: 400px;   /* 500px -> 400px 축소*/
    max-height: 310px;

}
.thumbnail{
    border-radius: 10px;
}
.channel-profile{
    display: none;
}

.channel-Container{
    display: flex;
    padding-top: 110px;
    box-sizing: border-box;
    position: relative;
    top: 20px;
    color: white;
    border-bottom: 1px solid rgb(265,265,265,0.3);
    align-items: center;
    display: flex;
    padding-bottom: 24px;
}
.profile{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 100%;
}
.channelName{
    font-size: 18px;
    margin-bottom: 10px;
}
.subscribers{
    font-size: 12px;
}
  

/* channel-title-container 설정 (Flexbox 적용) */


/* 반응형 스타일 적용 */
@media (min-width: 1920px) {
  .video-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1919px) {
  .video-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1600px) {
  .video-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1290px) {
    .Channel .Channel-Toolbar {
        padding-left: 10px;
        justify-content: unset;
        
    }
    body.hideSidebar .Channel .Channel-Toolbar {
        justify-content: center;
        
    }
  }

  @media (max-width: 1095px) {
    body.hideSidebar .Channel .Channel-Toolbar {
        justify-content: unset;
        
    }
  }

@media (max-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .Channel .Channel-Toolbar ul{
    padding-right: 120px;
    
}
}
@media (max-width: 864px) {
  .video-grid-top > .video-container{
    padding-left: 10px;
  }
  .Channel .Channel-Title{
    padding : 10px 0px 0px 10px;
    }
  .video-grid{
    padding-left: 10px;
    padding-right:10px;
  }
  body.hideSidebar .video-grid-top > .video-container{
    flex-direction: row;
    padding : 0px 0px 30px 80px;
  }
  body.hideSidebar .video-grid{
    padding: 0px 80px 0px 80px;
  }
  body.hideSidebar .Channel .Channel-Title{
    padding : 10px 80px 0px 80px;
    }

}


@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
}
@media (max-width: 700px) {

    body.hideSidebar .video-grid-top > .video-container{
       flex-direction: row;
       padding : 0px 0px 30px 10px;
     }
     body.hideSidebar .video-grid{
       padding: 0px 0px 0px 10px;
     }
     body.hideSidebar .Channel .Channel-Title{
        padding : 10px 0px 0px 10px;
        }
   
 }
@media (max-width: 664px) {
    
      .video-grid-top > .video-container .video-info{
        width: 100%;
        padding-left: 0px;
      }

    }
    @media (max-width: 596px) {
        .video-grid-top > .video-container{
            flex-direction: column;
          }
        body.hideSidebar .video-grid-top > .video-container {
            flex-direction: column;

          }
        body.hideSibar .video-grid{
            padding-right : 0px;
        }

    
      }