:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

section{
    background-color: black;
}

/* 컨테이너 설정 */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 15px;
    overflow: hidden;
    padding-top: 110px;
    z-index: 3;
}

/* 영상 컨테이너 설정 */
.video-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    /* 비디오 제목, 채널, 조회수 및 업로드 날짜에 대한 스타일 */
    flex-direction: column;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.video-info-container{
    margin-top: 10px;
    display: flex;
    cursor: pointer;
}
.video-info {
    padding-left: 10px;
    overflow-x: hidden;
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.view-date{
    display: flex;
    gap: 5px;
}
/* 비디오 제목 설정 */
.video-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
    word-break: break-all; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 채널 및 조회수에 대한 스타일 */
.video-channel,
.video-views,
.upload-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 4px;
}

.video-container video,
.thumbnail {
    width: 100%;
    max-width: 500px;
    max-height: 310px;
    height: 148px;  /* 썸네일 높이 고정*/
}
.thumbnail{
    border-radius: 10px;
}
.channel-profile{
  border-radius: 100%;
}

.channel-Container{
  display: flex;
  padding-top: 110px;
  box-sizing: border-box;
  position: relative;
  top: 20px;
  color: white;
  border-bottom: 1px solid rgb(265,265,265,0.3);
  align-items: center;
  display: flex;
  padding-bottom: 24px;
}
.profile{
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 100%;
}
.channelName{
  font-size: 18px;
  margin-bottom: 10px;
}
.subscribers{
  font-size: 12px;
}

/* channel-title-container 설정 (Flexbox 적용) */


/* 반응형 스타일 적용 */
@media (min-width: 1920px) {
  .video-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 1919px) {
  .video-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1600px) {
  .video-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 1200px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .video-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .video-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}