:root {
    /* Color */
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

/* .gallerybox {} */
.youtubelist {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 0;
}

.youtubelist>li {
    display: inline-block;
    vertical-align: top;
    width: 25%
}

.youtubelist>li>div {
    width: auto;
    padding: 15px;
}

.youtubelist>li h3 {
    font-size: 12px;
    color: #000;
    font-weight: 500;
}

.youtubelist>li p {
    font-size: 12px;
    color: #999;
    font-weight: 400;
}


/* 컨테이너 설정 */
.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 8px;
    padding: 16px;
    overflow: hidden;
    margin-left: 240px;
    padding-top: 110px;
}

/* 영상 컨테이너 설정 */
.video-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    /* 비디오 제목, 채널, 조회수 및 업로드 날짜에 대한 스타일 */
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 비디오 제목 설정 */
.video-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
}

/* 채널 및 조회수에 대한 스타일 */
.video-channel,
.video-views,
.upload-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 4px;
}

/* channel-title-container 설정 (Flexbox 적용) */