/* 사이드바 js */
.showSidebar {
    height: 100%;
  }

  /* 화면 크기가 작을 때 */
@media (max-width: 768px) {
    .Sidebar_Large {
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
      z-index: 6;
    }
    .chips_item{
      position: fixed;
      left: 70px;
    }
    .video-grid{
      margin-left: 80px;
      z-index: 1;
    }
    .channel-Container{
      margin-left: 70px;
    }
    .Channel{
      margin-left: 70px;  /* 80px -> 70px 화면 축소시 10px 우측 밀림 현상 있어 수정*/ 
      z-index: 5;
      width: calc(100% - 70px);
    }
    body.showSidebar:before {
      content: '';
      background-color: rgba(0, 0, 0, 0.5); /* 어두운 블랙색상 */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 6;
    }
    body.showSidebar .Navigations {
      width: 100vw;
      z-index: 10;
    }
    body.showSidebar .Sidebar_Large {
      transform: translateX(0%);
      z-index: 10;
    }
    body.showSidebar .chips_item{
      position: fixed;
      width: 100vw;
      left: 70px;
    }
    body.showSidebar .Channel{
      position: fixed;
    }


  }
  @media (max-width: 500px) {
    .Sidebar_Mini{
      display: none;
    }
    .chips_item{
      left: 0px;
    }
    .video-grid{
      margin-left: 0px;
    }
    .channel-Container{
      margin-left: 0px;
    }
    .Channel{
      margin-left: 0px;
    }
    body.showSidebar .chips_item{
      position: fixed;
      left: 0px;
    }

  }
  /* 화면 크기가 클 때 */
  @media (min-width: 769px) {
    .sidebar {
      display: block;
    }
    .chips_item{
      position: fixed;
      left: 240px;
    }
    .video-grid{
      margin-left: 250px;
    }
    .channel-Container{
      margin-left: 240px;
    }
    .Channel{
      margin-left: 240px; 
      width: calc(100% - 240px);   /* 250px -> 240px Channel 좌측 10px공백 생겨서 줄입니다. */
    }
  
    body.hideSidebar .Sidebar_Large {
      display: none;
      z-index: 10;
    }

    body.hideSidebar .chips_item{
      position: fixed;
      left: 70px;
    }
    body.hideSidebar .video-grid{
      margin-left: 80px;
      z-index: 5;
    }
    body.hideSidebar .channel-Container{
      margin-left: 70px;
    }
    body.hideSidebar .Channel{
      margin-left: 70px;
      width: calc(100% - 70px);
    }
    body.hideSidebar .Channel .video-grid{
      margin-left: 0px;
    }
}
