*{margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;list-style-type: none;}
/* 상단바 */

/* 상단바 전체 */
.Navigations {
    position: fixed;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px 16px;
    background: #313131;
    justify-content: space-between;
    z-index: 999;
}

/* 좌측 햄버거 메뉴 */
.Navigations>.Yt-Button {
    display: flex;
    padding-right: 0px;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
}
/* 죄측 유튜브 로고 */
.Yt-Button>.Button {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

/* 검색창 전체 */
.center{
    display: flex;
}
.Search{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 470px;
    height: 40px;
    align-items: center;
    border: 1px solid rgb(61, 61, 61);
    border-radius: 40px 0 0 40px;
    caret-color: white;
    color: white;
    padding: 0px 4px 0px 16px;
    margin-left: 32px;
    background-color: black;
    
}
    
.SearchBox{
    outline:none;
    border: none;
    width: 100%;
    background-color: black;
}
.SearchBox-Button {
    margin-left: -1px;
    background-color: #313131;
    border: none;
}
.SearchBox-Button > img{
    border: 1px solid rgb(61, 61, 61);
    height: 40px;
    width: 64px;
    cursor: pointer;
    border-radius: 0 40px 40px 0;
    background-color: rgb(61, 61, 61);

}
/* 검색창 플레이스 홀더 폰트 */
.SearchBox::placeholder {
    color: var(--gray-color, #AAA);
}

/* 검색창 옆 녹음 아이콘 */
.center >.Icon {
    filter: brightness(200%) contrast(50%);
    margin-left: 15px;
    cursor: pointer;
}
.center >.Icon :hover {
    filter: invert(19%) sepia(8%) saturate(8%) hue-rotate(317deg) brightness(93%) contrast(94%);
}
/* 우측 프로필 */
#Profile{
    gap: 15px;
    display: flex;
    flex-direction: row;
    margin-left: 32px;
    min-width: 225px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px){
    .Search{
        width:70%;
    }
}