/* (공통)상단바 */

/* (공통)상단바 전체 */
.Navigations {
    display: flex;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    margin: 0px;
    padding: 0px;
    background-color: #303030;
    justify-content: space-between
}

.Navigations>.yt-button {
    display: inline-flex;
    padding-right: 0px;
    align-items: center;
}

.Navigations>#Profile {
    display: flex;
    width: 204px;
    height: 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
}
