
/* 메인페이지 탑메뉴 */
.Top-menu {
    position: fixed;
    top : 56px;
    left: 70px;
    display: flex;
    width: 100%;

    background: var(--background-color, #000000);
}
.Top-menu > .Item {
    display: flex;
    padding: 12px 12px 12px 24px;
    gap: 10px;
    align-items: center;
    color: white;
}
/* li 요소의 글자 색상 변경 및 테두리 스타일 추가 */
.Top-menu .Item li {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(61, 61, 61);
    cursor: pointer;
  }

.Top-menu .Item :hover {
    background-color: #6b6b6b;
}

/* 탑메뉴 화살표 아이콘 */
.Item > .Icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Itme > .Icon > img {
    width: 20px;
    height: 20px;
}