
/* 메인페이지 탑메뉴 */
.Top-menu {
    display: flex;
    width: 1200px;
    flex-direction: column;
    align-items: flex-start;
    background: var(--background-color, #212121);
}

/* 탑메뉴 좌측 All 버튼 */
.Top-menu>.All {
    display: inline-flex;
    padding: 12px 12px 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* 탑메뉴 아이템 버튼 */
.Top-menu>.Item {
    display: inline-flex;
    padding: 12px 12px 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* 탑메뉴 우측 화살표 아이콘 */
.Top-menu>.Icon {
    display: inline-flex;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
    background: rgba(33, 33, 33, 0.90);
}