/* Video Page*/
/*  Navigation은 공통이라 이곳에 안적었습니다.
그래서 요소가 Primary와 Secondary가 있는데 작업은 Primary까지 하였습니다. */
*{margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;list-style-type: none;}
body {
    background-color: black;
}

/* Primary */
.youtubePlayer > h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 2.8rem;
    color: white;
}
.youtubePlayer > p {
    font-size: 14px;
    font-weight: bold;
    color: white;
  }


/* 전체 */
.Primary{
    display: flex;
    width: 664px;
    height: 968px;
    padding: 24px 0px 0px 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
}



/* Comments 댓글 쓰기 부분 아래 댓글들  */
/* Comments 전체 */
.Commetns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Commetns>.Comment{
    display: flex;
    width: 640px;
    padding-bottom: 0px;
    align-items: flex-start;
}
.Comments>.Comment>.profile-pic{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
}
.Comments>.Comment>.profile-pic>.user-avatar{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.Comments>.Comment>.Comment{
    display: flex;
    width: 544px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}
.Comments>.Comment>.Comment>.Header{
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    align-self: stretch;
}
.Comments>.Comment>.Comment>.Text{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.Comments>.Comment>.Comment>.Toolbar{
    display: flex;
    padding-top: 4px;
    align-items: flex-start;
    align-self: stretch;
}




/* Comment 댓글 쓰기 부분 */
.Comment{
    display: flex;
    padding: 24px 0px 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.Comment>.Short-By{
    width: 226px;
    height: 24px;
}
.Comment>.Short-By>.Count{
    display: inline-flex;
    padding: 1px 32px 1px 0px;
    align-items: flex-start;
}
.Comment>.Short-By>.Short-By{
    width: 226px;
    height: 24px;
}
.Comment>.Comment{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Comment>.Comment>.profile-pic{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
}
.Comment>.Comment>.profile-pic>.User-Avatar{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.Comment>.Comment>.Comment-Area{
    display: flex;
    width: 584px;
    padding: 7px 0px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.Comment>.Comment>.Comment-Are>.Border{
    height: 1px;
    align-self: stretch;
    background: var(--border-color, #303030);
}
.Comment>.Comment>.Comment-Are>.add_a_public_comment{
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
