/* Video Page*/
/*  Navigation은 공통이라 이곳에 안적었습니다.
그래서 요소가 Primary와 Secondary가 있는데 작업은 Primary까지 하였습니다.
Secondary까지 완료  
VideoChannel 및 comments 작업 완료 */


* {
    box-sizing: border-box;

}

body {
    background-color: black;
}

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


/* Primary */

/* 전체 */
.Primary {
    z-index: 100;
    /* 스크롤시 상단바 아래로 내려가기 위한 코드 z-index: 100; */
    display: flex;
    max-width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: black;
    position: relative;
    padding-bottom: 59.25%;
    margin-top: 100px;
}



.Primary .PrimaryContent {
    width: 100%;
    height: 80%;
}


/* 비디오 플레이어 */
.VideoPlayer {
    position: relative;
    margin-left: 40px;
    max-width: 1200px;
    max-height: 650px;
    min-width: 435px;
    min-height: 245px;
}

/* .Primary .PrimaryContent 안에 있습니다 */
.Youtube-Player {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 650px;
    min-width: 435px;
    min-height: 245px;
}

/* 비디오 플레이어 설명 */
.Video-Desc {
    display: flex;
    width: 100%;
    height: 170px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

/* 비디오 플레이어 설명 타이틀 */
.Video-DescTitle h1 {
    margin-left: 50px;
    margin-bottom: 20px;
    color: var(--white-color, #FFF);
    font-variant-numeric: stacked-fractions;
    font-feature-settings: 'hlig' on, 'dlig' on;
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;

}

/* 비디오 플레이어 설명 채널 전체 */
.VideoChannel {
    width: 95%;
    display: flex;
    margin-left: 50px;
    margin-bottom: 20px;
    align-items: center;
    float: left;

}

/* 비디오 플레이어 설명 채널명, 아바타, 알림버튼 */
.VideoChannel .VideoChannelTitle {
    width: 30%;
    display: flex;
    font-size: 24px;
    color: #FFF;
    margin-right: 10px;
    align-items: center;
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.VideoChannel .VideoChannelTitle button {
    margin-left: 10px;
}


.VideoChannel .DescButtonList {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* 비디오 플레이어 설명 채널 버튼 */
.VideoChannel .DescButton {
    margin-left: 5px;
    padding: 8px 30px;
    gap: 10px;
    border-radius: 50px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #303030);
}

.VideoChannel .ChannelName {
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.VideoChannel .DescButton_like {
    margin-left: 5px;
    padding: 2px 23px;
    gap: 10px;
    border-radius: 50px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #303030);
}

.VideoChannel .DescButton_sub {
    margin-left: 5px;
    padding: 10px 18px;
    gap: 10px;
    border-radius: 50px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #303030);
}

li {
    list-style: none;
}

/* 비디오 플레이어 채널 아래 설명*/
.Video-Desc .Description {
    margin-left: 50px;
    width: 95%;
    height: 60%;
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(39, 39, 39);
    gap: 10px;
}

.Video-Desc .Description p {
    font-size: 15px;
    color: white;
}

.Video-Desc .Border {
    margin-top: 10px;
    border-bottom: 1px solid #303030;
}

.VideoPlayer .Video-Desc .Border {
    width: 640px;
    height: 1px;
}


/* Comment 댓글 쓰기 부분 */

.Comment {
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    /* Add position relative to keep comments within the flow */
    position: relative;
}

.CommentInput {
    width: 95%;
    min-height: 40px;
    padding: 0;
    margin-left: 50px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    /* 기본적으로 밑줄을 없애기 위해 투명하게 설정 */
    resize: none;
    color: #fff;
    outline: none;
    /* 클릭 시 테두리 제거 */
}

.CommentInput:focus {
    border-bottom: 3px solid #fff;
    /* 클릭 시 밑줄 강조 스타일 적용 */
}

.Comment .ButtonArea {
    display: flex;
    width: 95%;
    margin-left: 50px;
    justify-content: flex-end;
}

.Comment .ButtonArea button {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    border-radius: 32px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #303030);
    color: #FFF;
}

/* Comments 댓글 쓰기 부분 아래 댓글들  */
/* Comments 전체 */

.comment {
    display: flex;
    margin-left: 50px;
    align-items: center;
    /* Use position relative to keep comments within the flow */
    position: relative;
}

.comment img {
    margin-bottom: 10px;
}

.Comments .comment-text {
    display: flex;
    width: 90%;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #FFF;
}

/* 우측 동영상 전체 */
.Secondary {
    z-index: 100;
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
    margin-left: 20px;
}


.Secondary .Content {
    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    /* align-items: flex-start; */
}

/* 오른쪽 영상 리스트 위에 메뉴 */

.Secondary .Content .Top-Menu {
    display: flex;
    padding: 1px 12px 2px 0px;
    align-items: flex-start;
    margin-top: 100px;
}

/* 오른쪽 영상 리스트 위에 메뉴 버튼 */
.Secondary .Content .Top-Menu .Item {
    display: flex;
    padding: 8px 8px 8px 0px;
    align-items: flex-start;
    gap: 10px;
}

.Video-Grid {
    overflow: hidden;
    z-index: 3;
}


/* 영상 컨테이너 설정 */
.video-container {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-top: 20px;
    /* 비디오 제목, 채널, 조회수 및 업로드 날짜에 대한 스타일 */
    flex-direction: row;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.video-info-container {
    margin-top: 10px;
    display: flex;
    cursor: pointer;
}

.video-info {
    padding-left: 10px;
    overflow-x: hidden;
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.view-date {
    display: flex;
    gap: 5px;
}

/* 비디오 제목 설정 */
.video-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
    color: white;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 채널 및 조회수에 대한 스타일 */
.video-channel,
.video-views,
.upload-date {
    font-size: 14px;
    color: #777;
    margin-bottom: 4px;
}

.video-container video,
.thumbnail {
    width: 100%;
    width: 168px;
    height: 94px;

}

.thumbnail {
    border-radius: 10px;
}

.channel-profile {
    display: none;
    border-radius: 50%;
}

/* Secondary 해상도에 따른 설정 */
/* QHD 해상도 */
@media (min-width: 2560px) {
    .Secondary {
        height: 60vh;
    }
}

/* FHD 해상도 */
@media (min-width: 1920px) and (max-width: 2559px) {
    .Secondary {
        height: 45vh;
        margin-top: 350px;
    }
}

/* HD+ 화면 */
@media (min-width: 1600px) and (max-width: 1919px) {
    .Secondary {
        height: 50vh;
        margin-top: 500px;
    }
}

/* SXGA 화면 */
@media (min-width: 1280px) and (max-width: 1599px) {
    .Secondary {
        height: 60vh;
        margin-top: 750px;
    }
}

/* HD 화면 */
@media (min-width: 720px) and (max-width:1279px){
    .Secondary {
        height: 70vh;
        margin-top: 950px;
    }
}