/* Video Page*/
/*  Navigation은 공통이라 이곳에 안적었습니다.
그래서 요소가 Primary와 Secondary가 있는데 작업은 Primary까지 하였습니다. */


/* Primary */

/* 전체 */
.Primary{
    display: flex;
    width: 664px;
    height: 968px;
    padding: 24px 0px 0px 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    background: #181818;
}

/* Comments 댓글 쓰기 부분 아래 댓글들  */
/* Comments 전체 */
.Commetns{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Commetns>.Comment{
    display: flex;
    width: 640px;
    padding-bottom: 0px;
    align-items: flex-start;
}
.Comments>.Comment>.profile-pic{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
}
.Comments>.Comment>.profile-pic>.user-avatar{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.Comments>.Comment>.Comment{
    display: flex;
    width: 544px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}
.Comments>.Comment>.Comment>.Header{
    display: flex;
    padding-bottom: 0px;
    align-items: flex-start;
    align-self: stretch;
}
.Comments>.Comment>.Comment>.Text{
    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
.Comments>.Comment>.Comment>.Toolbar{
    display: flex;
    padding-top: 4px;
    align-items: flex-start;
    align-self: stretch;
}




/* Comment 댓글 쓰기 부분 */
.Comment{
    display: flex;
    padding: 24px 0px 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}
.Comment>.Short-By{
    width: 226px;
    height: 24px;
}
.Comment>.Short-By>.Count{
    display: inline-flex;
    padding: 1px 32px 1px 0px;
    align-items: flex-start;
}
.Comment>.Short-By>.Short-By{
    width: 226px;
    height: 24px;
}
.Comment>.Comment{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.Comment>.Comment>.profile-pic{
    display: flex;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
}
.Comment>.Comment>.profile-pic>.User-Avatar{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.Comment>.Comment>.Comment-Area{
    display: flex;
    width: 584px;
    padding: 7px 0px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.Comment>.Comment>.Comment-Are>.Border{
    height: 1px;
    align-self: stretch;
    background: var(--border-color, #303030);
}
.Comment>.Comment>.Comment-Are>.add_a_public_comment{
    color: var(--gray-color, #AAA);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.Video-Desc{
    display: flex;
    width: 640px;
    height: 166px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.Video-Desc>.Border{
    width: 640px;
    height: 1px;
    flex-shrink: 0;
}

.Video-Desc>.Video-Desc{
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.VideoPlayer{
    display: flex;
    width: 640px;
    height: 455px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}

.VideoPlayer>.Youtube_player{
    width: 640px;
    height: 360px;
    flex-shrink: 0;
}

.VideoPlayer>.Video-Info{
    display: flex;
    width: 640px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.VideoPlayer>.Video-Info>.Video-Info{
    display: flex;
    padding: 20px 0px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
}

.VideoPlayer>.Video-Info>.Border{
    width: 640px;
    height: 1px;
}

/* Primary */

/* 전체 */

.Secondary{
    display: flex;
    width: 426px;
    height: 968px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
}

.Secondary>.Content{
    display: flex;
    padding: 24px 24px 0px 0px;
    flex-direction: column;
    align-items: flex-start;
}

/* 오른쪽 영상 리스트 위에 메뉴 */

.Secondary>.Content>.Top-Menu{
    display: flex;
    width: 402px;
    padding: 1px 12px 2px 0px;
    align-items: flex-start;
}

/* 오른쪽 영상 리스트 위에 메뉴 버튼 */
.Secondary>.Content>.Top-Menu>.Item{
    display: flex;
    padding: 8px 8px 8px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


/* 오른쪽 영상 리스트 */
.Secondary>.Content>.Videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* 오른쪽 영상 리스트 속의 영상*/
.Secondary>.Content>.Videos>.Video{
    display: flex;
    padding-top: 8px;
    align-items: flex-start;
}




