/* 사이드바 */

 /* 사이드바 전체 */
 .Sidebar {
    display: flex;
    width: 240px;
    height: 968px;
    padding-right: 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    background: #212121;
 }




 /* Sidebar Top 상단 */
 .Sidebar>.top{
    display: flex;
    padding: 12px 0px;
    flex-direction: column;
    align-items: flex-start;
 }
 /*  Sidebar Top Home 버튼 */
 .sidebar>.top>.manu>.Home{
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
}
/* Sidebar Top Explore 버튼 */
 .sidebar>.top>.manu>.Explore{
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
/* Sidebar Top Subscription 버튼 */
.Sidebar>.top>.Manu>.Subscription{
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}





/* Sidebar Top2 두번째 */
.Sidebar>.Top2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 224px;
    height: 1px;
    background: var(--border-color, #303030);
}
/* Sidebar Top2 프레임 */
.Sidebar>.Top2>.Frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* Sidebar Top2 각 메뉴버튼 */
.Sidebar>.Top2>.Library>.History>.YourVideos>.Watch_Later>.Liked_videos>.Show_more{
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
}




/* Subscription */

 /*Subscription 전체*/
.Sidebar>.Subscription{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
/* subscription 테두리 */
.Sidebar>.Subscription>.Frame{
    display: flex;
    width: 224px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* subscription Manu  버튼*/
.Sidebar>.Subscription>.Manu_Title{
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
}
/* Subscription 각 Aritsts 버튼 and Show More 버튼 */
.Sidebar>.Subscription>.Manu>.Artist{
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
}




/*Sidebar More Form(하단) */

/* Sidebar More Form  전체 */
.Sidebar>.More_From{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
/* *Sidebar More Form 프레임 */
.Sidebar>.More_From>.Frame{
    display: flex;
    width: 224px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/*Sidebar More Form Manu Title 버튼*/
.Sidebar>.More_From>.Manu_Title{
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    gap: 10px;
}
/*Sidebar More Form Manu Item 전체*/
.Sidebar>.More_Form>.Manu_Item{
    display: flex;
    width: 192px;
    align-items: flex-start;
    gap: 24px;
}




/* Sidebar Navigation */

/* Sidebar Navigation 전체 */
.Sidebar>.Navigation>.Bottom{
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
/* Sidebar Navigation Frame */
.sidebar>.Navigation>.Bottom>.Frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
/* Sidebar Navigation Bottom Manu 전체*/
.sidebar>.Navigation>.Bottom>.Manu{
    display: flex;
    padding: 8px 8px 8px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}




/*Sidebar Navigation Footer*/

/*Sidebar Navigation Footer 전체*/
.Sidebar>.Navigation>.Footer{
    display: flex;
    width: 224px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/*Sidebar Navigation Footer 각 Item 버튼*/
.Sidebar>.Navigation>.Footer>.Item{
    display: flex;
    width: 224px;
    padding: 16px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

